<h1>Welcome to Ventures Guide</h1>

<form>
    <div class="col-sm">
        <input type="text" class="form-control" placeholder="Enter Budget Here" aria-label="Enter Budget Here">
      </div>
      <div class="row g-3">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Location" aria-label="Location">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Date" aria-label="Date">
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="Number of people" aria-label="Number of people">
          </div>
      </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Flights</h5>
              <p class="card-text">Flights are based on google Flights</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Prices are subjected to change</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hotels</h5>
              <p class="card-text">Starting with the most affordable prices</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Prices are subjected to change</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Packages</h5>
              <p class="card-text">Packages are made wth a combination of hotel, flight, car service and excursions</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Prices are subjected to change</small>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">More</button>
      </div>
  </form>
