<h1 id="myplan">Welcome to Planning</h1>

<h4>Start here!</h4>


<form>
    <div class="col-sm">
      <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Where would you like to go?" aria-label="Where would you like to go?">
      </div>
      <div class="row g-2">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="How many people are you going with?" aria-label="How many people are you going with?">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Date" aria-label="Date">
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" placeholder="Number of people" aria-label="Number of people">
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" placeholder="How long are you going for?" aria-label="How long are you going for?">
          </div>
      </div>
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  